@import 'src/styles/index';

.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.08fr 0.22fr 0.7fr;
  height: calc(100vh - 80px);
  width: 100vw;

  &__blockly-space {
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-start: span 3;
    width: 100%;
  }

  &__blockly-website-title {
    align-items: center;
    border: 4px solid $color-independence;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
  }

  &__blockly-code-preview {
    border: 4px solid $color-independence;
    font-size: $half-font-size;
    height: 100%;
    overflow: scroll;
    width: 100%;
  }
}

.blockly-iframe-website {
  border: 4px solid $color-independence;
  height: 98%;
  width: 100%;
}
