@import 'index';

*,
*::before,
*::after {
  box-sizing: border-box;
}

.html {
  font-size: $html-font-size;
}

body {
  margin: 0;
  max-width: 1920px;
  padding: 0;
}

.app {
  font-family: $font-roboto-medium;
  font-size: $body-font-size;
}
