@import 'src/styles/index';

.navigation {
  align-items: center;
  background-color: $color-independence;

  display: flex;
  height: 85px;
  width: 100%;

  &__items {
    display: flex;
    height: 100%;
    list-style-type: none;
    margin: auto;
    padding-inline-start: 0;
  }

  &__item {
    list-style-type: none;
  }

  &__link {
    align-items: center;
    color: $color-lavender-web;
    display: flex;
    font-size: $header-font-size;
    height: 100%;
    line-height: 24px;
    padding: 0 24px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      background-color: $color-hover;
      cursor: pointer;
    }

    &-active {
      background-color: $color-active;

      &:hover {
        background-color: $color-active;
      }
    }
  }
}
