@import 'src/styles/index';

.header {
  background-color: $color-independence;
  display: flex;
  height: 80px;
  justify-content: space-between;
  width: 100%;

  &__empty {
    margin-left: 80px;
  }

  &__icon {
    &__main-logo {
      padding: 0 5px;
    }
  }
}
