$roboto-regular: 'roboto-regular';
$roboto-medium: 'roboto-medium';
$roboto-bold: 'roboto-bold';

@font-face {
  font-family: $roboto-regular;
  src: url('../../assets/roboto-fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: $roboto-medium;
  src: url('../../assets/roboto-fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: $roboto-bold;
  src: url('../../assets/roboto-fonts/Roboto-Bold.ttf');
}

$font-roboto-regular: $roboto-regular, sans-serif;
$font-roboto-medium: $roboto-medium, sans-serif;
$font-roboto-bold: $roboto-bold, sans-serif;

$html-font-size: 62.5%;
$body-font-size: 1.6rem;
$modal-h4-font-size: 1.3em;
$dashboard-font-size: 0.7em;
$header-font-size: 0.7em;
$half-font-size: 0.5em;
$less-half-font-size: 0.45em;

.h1-font-style {
  margin: 6px 0;
}

.h2-font-style {
  font-weight: normal;
  margin: 12px 0;
}

.h3-font-style {
  font-weight: normal;
}

.h4-font-style {
  font-size: $modal-h4-font-size;
  font-weight: normal;
  margin: 12px 0;
}
